* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    height: 60px;
    width: 100vw;
    top: 0;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 8px 8px 10px rgba(130, 126, 126, 0.323);
    position: fixed;
    z-index: 1000;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left h1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding:20px 20px;
}

.fa-bars {
    font-size: 20px;
    color: gray;
}

.searchBox {
    position: relative;
}

.searchBox input {
    width: 280px;
    height: 40px;
    border: none;
    background: #f2f2f2;
    border-radius: 30px;
    padding-left: 50px;
    font-size: 18px;
    outline: none;
}

.searchBox i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.appBtn {
    border: none;
    background: #191919;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    padding-right: 10px;
}

.write {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
    padding-right: 10px;
}

.fa-bell {
    color: #666;
    font-size: 15px;
    padding-right: 10px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("cat.jpg");
    background-size: cover;
    background-position: center;
}

.container{
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
}

.sideBar{
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0px;
    gap: 10px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.65);
    padding-top: 30px;
}

.menu{
    /* border: 1px solid black; */
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu:hover{
    cursor: pointer;
    background-color: #a6a3a330;
    transform: scale(1.01);
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.menu a{
    font-size: medium;
    text-decoration: none;
    color: black;
}

.menu i{
    padding: 0px 20px;
    font-size: 20px;
    color: rgb(108, 101, 101);
}

.upperMenu{
    width: 250px;
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.588);
    padding-bottom: 15px;
}

.mainContent{
    margin-left: 300px;
    padding-top: 90px;
}

.secNavbar{
    height: 70px;
    width: 700px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 60px;
    margin-bottom: 10px;
    z-index: 100;
    background-color: white;
}

.secNavbar a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    position: sticky;
}

.card{
    padding: 20px;
    width: 1000px;
    height: 250px;
    display: flex;
    /* box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.703); */
    border-radius: 20px;
    margin-bottom: 10px;
}

.textContent{
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.703);
    border-radius: 20px;
    height: 200px;
    width: 700px;
    padding: 10px 30px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.contentImg{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-image: url("cat.jpg");
    background-size: cover;
    background-position: center;
}

.authorImg{
    height: 30px;
    width: 30px;
    background-image: url("cat.jpg");
    background-size: cover;
    border-radius: 50%;
}

.intro{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.intro span{
    font-size: 12px;
    margin: 15px;
}

.textContent h3{
    margin-bottom: 20px;
}

.date{
    font-size: 12px;
    margin: 15px;
    color: rgb(101, 100, 100);
}

.intro i{
    font-size: 5px;
}

.subIntro{
    color: rgb(101, 100, 100);
}

.articleImg{
    height: 100px;
    width: 100px;
    background-image: url("cat.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}

.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.leftStats .fa-solid{
    color: gray;
    font-size: 12px;
    padding-left: 10px;
}

.leftStats span{
    color: gray;
    font-size: 12px;
    padding-right: 5px;
}

.rightStats .fa-solid{
    color: gray;
    font-size: 18px;
    margin-right: 10px;
}

.rightStats .fa-regular{
    color: gray;
    font-size: 18px;
    margin-right: 20px;
}

hr{
    margin-bottom: 10px;
}